body{
    background: #222;
   }
.card{
    width: 35%;
    max-width:100%;
    background: linear-gradient(135deg,#6eaac4,#fcfcfc8f);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 35px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:#222;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
    text-transform: uppercase;
    
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}   
.weather h1{
    font-size: 35px;
    margin-top: -35px;
    font-weight: bold;
    color: black;
}
.weather h2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
    margin-top: -15px;
}
.weather h3{
    font-size: 35px;
    font-weight: bold;
    margin-top: -15px;
    color: black;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -10px;
    margin-left: 19px;
    font-size: 28px;
    margin-top: 30px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    color: black;
    font-weight: bold;
    margin-top:-10px;
}
.col img{
    width: 75px;
    margin-right: 10px;
}
.humidity,.wind {
    font-size:30px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
    margin-top: 40;

}
.weather{
    display: none;
}
